/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background: rgb(75, 75, 75);
  align-items: center;
}

.list-links {
  display: flex;
  gap: 35px;
  font-size: 1em;
  padding: 0;
  flex-wrap: wrap;
}

.list-links li {
  list-style-type: none;
}

.list-links li a {
  color: white;
  text-decoration: none;
}

.list-links li a.active {
  text-decoration: underline;
}

.logo {
  height: 6rem;
}

.hero-banner {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  position: relative;
}

.hero-banner-image {
  width: 100%;
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
  object-position: center; /* Centers the image */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.hero-banner-details {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 40px;
  color: white;
  width: 20rem;
  overflow-wrap: anywhere;
}

.hero-banner-title {
  font-size: 3rem;
  margin: 0;
}

.hero-banner-description {
  font-size: 1.2rem;
  margin: 0;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.hero-banner-button {
  padding: 14px;
  background: orange;
  border: none;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

footer {
  background-color: rgb(75, 75, 75);
  padding: 10px 50px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav ul {
  order: -1;
}
