/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background: rgb(75, 75, 75);
  align-items: center;
  flex-wrap: wrap;
}

.list-links {
  display: flex;
  gap: 35px;
  font-size: 1em;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.list-links li {
  list-style-type: none;
}

.list-links li a {
  color: white;
  text-decoration: none;
}

.list-links li a.active {
  text-decoration: underline;
}

.logo {
  height: 6rem;
}

.hero-banner {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  position: relative;
}

.hero-banner-image {
  width: 100%;
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
  object-position: center; /* Centers the image */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.hero-banner-details {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 40px;
  color: white;
  width: 20rem;
  overflow-wrap: anywhere;
}

.hero-banner-title {
  font-size: 3rem;
  margin: 0;
}

.hero-banner-description {
  font-size: 1.2rem;
  margin: 0;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.hero-banner-button {
  padding: 14px;
  background: orange;
  border: none;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

footer {
  background-color: rgb(75, 75, 75);
  padding: 10px 50px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav ul {
  order: -1;
}

.comments {
  display: flex;
  padding: 10px 40px;
  flex-wrap: wrap;
  gap: 5rem;
  margin: auto;
  justify-content: center;
}

.comment-comp {
  max-width: 600px;
}

.comment-comp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment-comp-header h2 {
  margin-bottom: 0;
}

.comment-comp-rating {
  padding: 5px;
  background: orange;
}

.comment-comp-rating p {
  margin: 0;
  font-size: 1.2rem;
}

.comment-comp h3 {
  font-weight: bold;
}

.comment-comp-info {
  color: rgb(82, 82, 82);
  font-style: italic;
}

.movie-page ul {
  padding: 0;
}

.movie-page ul li {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  gap: 10px;
}

.movies-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem 2rem 2rem;
}

.movie-page {
  display: flex;
  margin: 3rem 0;
}

.movie-page h1 {
  margin-top: 0;
}

.filter {
  width: 20%;
  height: auto;
}

.movies {
  width: fit-content;
  max-width: 80%;
}

.filter h3 {
  margin-top: 0;
}

.title-sort {
  display: flex;
  justify-content: space-between;
}

.title-sort select {
  border: 0;
  text-decoration: underline;
}

.title-sort select:focus-visible {
  border: 0;
  outline: none;
  color: gray;
}

.movie-card {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 230px;
}

.movie-poster {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
  height: 100%;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1rem 10px;
  box-sizing: border-box;
  gap: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.movie-card:hover .movie-info {
  transform: translateY(0);
  opacity: 1;
}

.movie-card:hover .movie-poster {
  transform: scale(1.05);
}

.movie-card .save-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  background: transparent;
  border: none;
}

.movie-info h3 {
  font-size: 1.1rem;
  margin: 0;
}

.movie-info p {
  margin: 0;
  font-size: 0.9rem;
}

svg {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50px;
  /* box-sizing: border-box; */
  padding: 5px;
  cursor: pointer;
}

.movie-details {
  display: flex;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: auto auto;
}

.movie-details img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.title-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-section h1 {
  font-size: 28px;
  margin: 0;
  color: #333;
}
.movie-details button {
  background: transparent;
  border: none;
}

.movie-details p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.more-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.more-info p strong {
  font-weight: bold;
  color: #333;
}

.directors_actors {
  display: flex;
  gap: 4rem;
}

.directors {
  margin-top: 20px;
}

.directors h3 {
  font-size: 20px;
  color: #333;
}

.directors li {
  font-size: 16px;
  color: #444;
  margin-left: 10px;
}

.actors {
  margin-top: 20px;
}

.actors h3 {
  font-size: 20px;
  color: #333;
}

.actors li {
  font-size: 16px;
  color: #444;
  margin-left: 10px;
}

.related_movies {
  box-sizing: border-box;
  padding: 0 30px;
}

.related_movies .movies-list {
  justify-content: space-around;
}

.related_head {
  display: flex;
  justify-content: space-between;
}

.reviews_page {
  margin: auto;
}

.reviews_page form {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  border: 1px solid black;
  padding: 10px;
  margin: 10px auto;
  gap: 10px;
}

@media screen and (max-width: 520px) {
  header {
    display: flex;
    justify-content: center;
  }
  .footer-nav ul {
    gap: 10px;
  }

  .movies-list {
    justify-content: center;
  }

  .movie-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }
  .filter {
    width: 100%;
  }

  .movies {
    max-width: 100%;
    width: 100%;
  }

  .movies h1 {
    margin: 0;
  }

  .title-sort {
    margin: 0 0 1rem 0;
  }

  .filter ul li {
    display: flex;
    justify-content: space-between;
  }

  .filter ul li label {
    order: -1;
    width: 100%;
  }

  .filter ul li input[type="checkbox"] {
    width: 20px;
  }

  .movie-card {
    width: 90%;
  }

  .movie-card .movie-info,
  .movie-card h3 {
    transform: translateY(0);
    opacity: 1;
  }

  .movie-details img {
    width: 60%;
  }

  .movie-details {
    flex-direction: column;
    align-items: center;
  }

  .movie-details img {
    width: 150px;
  }

  .directors_actors {
    justify-content: space-between;
    gap: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
